{{> head }}

    
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Superman</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos doloremque a deserunt animi asperiores velit, aperiam officiis consequuntur quod pariatur voluptates eius perferendis nam porro dignissimos accusantium facilis nobis corporis!</p>
  </div>
  <div class="col-4">
    <img src="assets/img/superman.jpg" class="img-thumbnail">
  </div>
</div>

    

{{> footer }}